@import '../../styles/globals.scss';

.list {
	background-color: #f2f5f8;
	border: 1px solid #d8dde2;
	padding: $space-md;
	border-radius: $space-sm;
	div {
		margin-bottom: $space-md;

		li {
			margin: $space_sm 0;
			a {
				display: flex;
				gap: $space-xs;
			}
		}
		h4 {
			font-family: $primaryHeaderFont;
			font-size: $space-md;
		}
	}
	
	:last-child {
		margin-bottom: 0rem;
	}
}