@import '../../styles/globals.scss';

.container {
      display: flex;
      align-items: flex-start;
      gap: $space-sm;
      a {
            cursor: pointer;
      }
      p{
            font-size: 12px;
      }
      ul{
            display: flex;
            gap: $space-md;
            font-size: $space-sm;
            list-style: none;
            margin: 0;
      }
      .deleteContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            div {
                  margin-top: 3px;
                  display: flex;
                  width: 100%;
                  justify-content: space-around;
            }
      }
}