@import '../styles/globals.scss';

.container {
	display: grid;
	grid-template-columns: 180px 1fr;
	gap: 20px;
	margin-top: $space-lg;
	justify-items: center;
	max-width: 1200px;
	margin: $space-lg auto 0 auto;
	@include for-phone-only {
		grid-template-columns: 1fr;
		> :nth-child(1) {
			display: none;
			
		}
	}
}

.main {
	display: flex;
	gap: 15px;
}